%h1 Application

:ruby
  attrs = {
    style: "display: none;",
    data: {
      schema: @form.json_schema,
      data: JSON.generate(@applicant.data),
      path: application_path,
      method: 'PATCH'
    }
  }

.form-data{ attrs }

#applicationForm
