%h1 Recommenders
:ruby
  attrs = {
    style: "display: none;",
    data: {
      schema: @form.json_schema(section: 'recommender'),
      data: JSON.generate(@applicant&.recommender_info),
      path: recommenders_path,
      method: 'PATCH'
    }
  }

.form-data{ attrs }

#recommenderForm
