
.container 
    .row 
        %h2.section-title Latest Works
        .bxslider-controls
            %span#bx-prev4
            %span#bx-next4
        
    .row 
        .col-sm-4
            .card{:style => "width: 18rem;"}
            %img.card-img-top{:alt => "", :src => "assets/img/be.jpeg"}/
            .card-body
                %p.card-text UC San Diego, MSTP-SURF Program
                %a.btn.btn-primary{:href => "#"} More Info
        .col-sm-4
            .card{:style => "width: 18rem;"}
            %img.card-img-top{:alt => "", :src => "assets/img/surf.jpg"}/
            .card-body
                %p.card-text UCSD Scripps Student Undergraduate Research Experience
                %a.btn.btn-primary{:href => "#"} More Info
        .col-sm-4 
            .card{:style => "width: 18rem;"}
            %img.card-img-top{:alt => "", :src => "assets/img/uf.jpeg"}/
            .card-body
                %p.card-text UF Materials Science and Engineering REU in Infrastructure Materials
                %a.btn.btn-primary{:href => "#"} More Info


