.tours
  .container.mt-4
    .d-flex.flex-column.align-items-center
      .card.w-75.mb-3
        .card-header
          %h3.card-title The Basics
        .card-body
          Students create an account linked to their email address and complete
          their application online. The application can be saved and therefore completed
          over a period of time. The online forms are validated by the software to
          assure that the data is accurate, complete, and entered within the application's
          time frame. A recommendation request is sent upon completion of the student
          portion of the form. The recommendation is entered online and completes
          the application process for the student.
      .card.w-75.mb-3
        .card-header
          %h3.card-title Customize
        .card-body
          Basic text snippets and settings are customizable by non-technical staff
          via a web interface. Those with basic web development experience (HTML/CSS)
          can further customize the look and feel of the application by modifying
          its template system.
      .card.w-75.mb-3
        .card-header
          %h3.card-title Applicant Evaluation
        .card-body
          Applications can be reviewed online and offline. Admin privileges can
          be granted to those involved in the review process. The online interface
          allows for basic filtering and sorting. The filtered data can then be exported to your favorite spreadsheet application or to a PDF file.
                