.row
  .col-2
  .col-6
    %h2 Settings
.row
  .col-2
  .col-8
    %table.table
      %thead
        %tr
          %th Name
          %th Description
          %th Value
          %th Actions
      %tbody
        - @settings.each do |setting|
          %tr
            %td= setting.name
            %td= setting.description
            %td= truncate(setting.value, length: 100)
            %td.actions
              = link_to 'Edit', edit_reu_program_setting_path(setting)
    .col-2
