%section#page
  .container
    .row
      .col-xs-12
        .inner
          .panel.panel-primary
            .panel-heading Step 1: Create Your Account
            .panel-body
              = render 'form'
              = link_to 'Back', grants_path