/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *cc= require_self
 *cc= require css/preload
 *cc= require css/vendors
 *cc= require css/syntaxhighlighter/shCore
 *cc= require css/style-blue3
 *cc= require css/width-full
 *cc= require cms
 *cc= require bootstrap-datepicker3
 *= require b4app
 */


/* #footer-widgets ul.list-unstyled li.pull-left:first-of-type {
  margin-left: 20px;
}
#footer-widgets ul.list-unstyled li.pull-left:after {
  content: '|';
  margin: 0 10px
}

#footer-widgets ul.list-unstyled {
  padding-top: 30px
}

#header_link_1, #header_link_2 {
  margin: 2px -7px 10px -7px;
  padding: 5px 5px 5px 15px;
}

#header_link_1 a, #header_link_2 a{
  font-size: 0.7em;
  text-align: left;
  font-weight: normal;
  color:#fff;
} */
