$primary-color: #6f95dc;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "app/header";
@import "app/footer";
@import "app/rjsf";
@import "app/marketing";
@import "app/tours";
@import "app/pricing";

body {
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.75em;
}
