.row
  .col-5
  .card{:style => "width: 20rem; height: 10rem;"}
    .card-body Credit Card Payment
    -# %h2 Pay by Card
    = form_tag charges_path do
      %article
        - if flash[:error].present?
          #error_explanation
            %p= flash[:error]
        %label.amount
          %h5 Amount: $5.00
      %script.stripe-button{"data-amount" => "500", "data-description" => "A month's subscription", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}
